In [ ]:
#Create a pandas series of student names
#create a series of marks with custom index as student names
#Display the DataFrame with only Name and Marks
#Display numpy array of Marks
#Display all values of the DataFrame
#Get DataFrame info
#Check info of departmnet DataFrame
#Display first 3 rows
#Display first 4 rows of departments
#Display last 2 rows
#Display last 1 row of departments 

import numpy as np
import pandas as pd

import pandas as pd
import numpy as np

s1 = pd.Series({'A':'Anu','B':'Binu','C':'Cinu'})
s2 = pd.Series({'A':80,'B':90,'C':85})
s  = pd.Series({'A':'CSE','B':'ISE','C':'AIML'})
ss = pd.Series({'A':'Bangalore','B':'Delhi','C':'Ranchi'})
ss1= pd.Series({'A':101,'B':102,'C':103})

s3 = pd.DataFrame({'Name':s1,'Marks':s2,'Department':s,'City':ss,'ID':ss1})

print(s3.info())
print(s3.head(3))
print(s3['Marks'].sort_values(ascending=True))
print(s3.sort_values(by=['Department','Marks'], ascending=True))
print(s3['Department'].unique())
print(s3['Department'].nunique())
print(s3['City'].value_counts())
print(s3['Department'].value_counts())

# Rename
s3.rename(columns={'Marks':'Score','Department':'Dept'}, inplace=True)
print(s3)

print(s3.loc['A'])                     
print(s3.loc[['A','C'], 'Name'])       # Names of A and C

# Names and marks of students from Delhi
print(s3.loc[s3['City']=='Delhi', ['Name','Score']])

<class 'pandas.core.frame.DataFrame'>
Index: 3 entries, A to C
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Name        3 non-null      object
 1   Marks       3 non-null      int64
 2   Department  3 non-null      object
 3   City        3 non-null      object
 4   ID          3 non-null      int64
dtypes: int64(2), object(3)
memory usage: 144.0+ bytes
None
   Name  Marks Department       City   ID
A   Anu     80        CSE  Bangalore  101
B  Binu     90        ISE      Delhi  102
C  Cinu     85       AIML     Ranchi  103
A    80
C    85
B    90
Name: Marks, dtype: int64
   Name  Marks Department       City   ID
C  Cinu     85       AIML     Ranchi  103
A   Anu     80        CSE  Bangalore  101
B  Binu     90        ISE      Delhi  102
['CSE' 'ISE' 'AIML']
3
City
Bangalore    1
Delhi        1
Ranchi       1
Name: count, dtype: int64
Department
CSE     1
ISE     1
AIML    1
Name: count, dtype: int64
   Name  Score  Dept       City   ID
A   Anu     80   CSE  Bangalore  101
B  Binu     90   ISE      Delhi  102
C  Cinu     85  AIML     Ranchi  103
Name           Anu
Score           80
Dept           CSE
City     Bangalore
ID             101
Name: A, dtype: object
A     Anu
C    Cinu
Name: Name, dtype: object
   Name  Score
B  Binu     90

In [2]:
print(s3.iloc[-1])

Name       Cinu
Score        85
Dept       AIML
City     Ranchi
ID          103
Name: C, dtype: object

In [3]:
import pandas as pd

s3 = pd.DataFrame({
    'Name': ['Anu', 'Binu', 'Cinu'],
    'Marks': [80, 90, 85],
    'Department': ['CSE', 'ISE', 'AIML'],
    'City': ['Bangalore', 'Delhi', 'Ranchi'],
    'ID': [101, 102, 103]
})


departments = pd.DataFrame({
    'Department': ['CSE', 'ISE', 'AIML'],
    'HOD': ['Dr. Rao', 'Dr. Mehta', 'Dr. Singh'],
    'Building': ['Block A', 'Block B', 'Block C']
})

In [4]:
merged_df = pd.merge(s3, departments, on='Department', how='inner')
print(merged_df)

   Name  Marks Department       City   ID        HOD Building
0   Anu     80        CSE  Bangalore  101    Dr. Rao  Block A
1  Binu     90        ISE      Delhi  102  Dr. Mehta  Block B
2  Cinu     85       AIML     Ranchi  103  Dr. Singh  Block C

In [5]:
merged_df = pd.merge(s3, departments, on='Department', how='left')
print(merged_df)

   Name  Marks Department       City   ID        HOD Building
0   Anu     80        CSE  Bangalore  101    Dr. Rao  Block A
1  Binu     90        ISE      Delhi  102  Dr. Mehta  Block B
2  Cinu     85       AIML     Ranchi  103  Dr. Singh  Block C

In [6]:
print(s3.groupby('Department')['Marks'].mean())

Department
AIML    85.0
CSE     80.0
ISE     90.0
Name: Marks, dtype: float64

In [7]:
print(s3['City'].value_counts)

<bound method IndexOpsMixin.value_counts of 0    Bangalore
1        Delhi
2       Ranchi
Name: City, dtype: object>

In [9]:
#df.pivot_table(values=None,index=None,columns=None,aggfunc='mean',fill_values=None,dropna=True)
print(s3.pivot_table(values='Marks', index='Department', aggfunc=np.mean))

            Marks
Department
AIML         85.0
CSE          80.0
ISE          90.0

C:\Users\anous\AppData\Local\Temp\ipykernel_11716\2782677677.py:2: FutureWarning: The provided callable <function mean at 0x00000220CB560360> is currently using DataFrameGroupBy.mean. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "mean" instead.
  print(s3.pivot_table(values='Marks', index='Department', aggfunc=np.mean))

In [17]:
pivot = s3.pivot_table(
    values='Name',        
    index='Department',   
    columns='City',       
    aggfunc='count',      
    fill_value=0          
)
print(pivot)

City        Bangalore  Delhi  Ranchi
Department
AIML                0      0       1
CSE                 1      0       0
ISE                 0      1       0

In [ ]:

cse_students = s3[s3['Department'] == 'CSE']
print(cse_students['Name'].count())

1