In [1]:
import numpy as np
import pandas as pd
data={'A':[1,2,3,4,5],
      'B':[5,4,3,2,1],
      'C':[1,3,5,7,20]
      }
df=pd.DataFrame(data)

In [2]:
print(df.sum(axis=0))
print(df.sum(axis=1))

A    15
B    15
C    36
dtype: int64
0     7
1     9
2    11
3    13
4    26
dtype: int64

In [3]:
print(df.mean(axis=0,skipna=False))

A    3.0
B    3.0
C    7.2
dtype: float64

In [4]:
print(df.describe())

              A         B          C
count  5.000000  5.000000   5.000000
mean   3.000000  3.000000   7.200000
std    1.581139  1.581139   7.496666
min    1.000000  1.000000   1.000000
25%    2.000000  2.000000   3.000000
50%    3.000000  3.000000   5.000000
75%    4.000000  4.000000   7.000000
max    5.000000  5.000000  20.000000

In [5]:
print(df.count(axis=0))

A    5
B    5
C    5
dtype: int64

In [6]:
print(df.A.corr(df.B))

-0.9999999999999999

In [7]:
print(df.corr)

<bound method DataFrame.corr of    A  B   C
0  1  5   1
1  2  4   3
2  3  3   5
3  4  2   7
4  5  1  20>

In [8]:
print(df.corrwith(df.A))

A    1.000000
B   -1.000000
C    0.885832
dtype: float64

In [9]:
data={
    "Name":["Alice","Bob","Charlie",None],
    "Age":[25,None,30,22],
    "Score":[85,90,None,None],
    "Gender":['F','M','M','F']
}
df=pd.DataFrame(data)

In [10]:
print(df.isnull())

    Name    Age  Score  Gender
0  False  False  False   False
1  False   True  False   False
2  False  False   True   False
3   True  False   True   False

In [12]:
print(df.isnull().sum(axis=0))

Name      1
Age       1
Score     2
Gender    0
dtype: int64

In [13]:
print(df.isnull().mean(axis=0))

Name      0.25
Age       0.25
Score     0.50
Gender    0.00
dtype: float64

In [14]:
print(df.dropna(axis=0))

    Name   Age  Score Gender
0  Alice  25.0   85.0      F

In [15]:
print(df.dropna(axis=1))

  Gender
0      F
1      M
2      M
3      F

In [ ]:
print(df.dropna(axis=0,thresh=3))

      Name   Age  Score Gender
0    Alice  25.0   85.0      F
1      Bob   NaN   90.0      M
2  Charlie  30.0    NaN      M